git rm -r --cached server/node_modules# Environmental variables
server/.env
client/.env

#images
server/uploads

# client dependencies
client/node_modules
client/.pnp
client/.pnp.js

# server dependencies
server/node_modules

# production
client/build
server/build

# testing
client/coverage
server/coverage


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


# jest
testing/jest/server/.env