server/.env
client/.env
test/server/.env

#images
server/uploads

# client dependencies
client/node_modules
client/.pnp
client/.pnp.js

# server dependencies
server/node_modules

# production
client/build
server/build

# testing
client/coverage
server/coverage

# testing node modules
test/server/node_modules
test/server/.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


# jest
testing/jest/server/.env