.home-page{
  padding-top: 5px;
}

.home-page > h1{
  text-align: center;
}

.home-page > h2{
  text-align: center;
  color: red;
}

.home-page .route-mate{
    letter-spacing: 5px;
}


.fade-in{
  animation-name: fade-in;
  animation-timing-function: cubic-bezier(0.5,0,1,1);
  animation-duration: 3s;
  
}
@keyframes fade-in {
  from {opacity: 0;
        
        }
to {opacity: 1;
    }
}  

.rm{
  animation: bounce 3s ease-in;  
}
@keyframes bounce { 
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-100px);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-50px);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-12.5px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
