.query-box {
  box-sizing: border-box;
  min-height: 500px;
  width: 1000px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.query-box .transport-type {
  height: 60px;
  width: 80%;
  position: absolute;
  left: 10%;
  top: -30px;
  background-color: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.query-box .transport-background {
  height: clamp(35px, 5vw, 45px);
  width: clamp(50px, 5vw, 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.query-box .visible {
  background-color: #385de1;
  color: white;
  border-radius: 10px;
}

.query-box .icons {
  height: clamp(20px, 5vw, 25px);
  width: clamp(20px, 5vw, 30px);
}

.query-box .details {
  /* background-color: yellow; */
  position: absolute;
  top: 100px;
  min-height: 100px;
  width: 100%;
  /* padding: 10px ; */
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

@media (max-width: 1115px) {
  .query-box {
    width: 90%;
  }

  .query-box .details {
    grid-template-columns: 1fr 1fr;
  }

  .query-box .date-box {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.query-box .box {
  margin: auto;
}

.query-box label {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

  

.box input[type="date"] {
  height: 60px;
  width: clamp(100px, 30vw, 200px);
  border-radius: 10px;
  border: 1px solid #385de1;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
}

.submit-button {
  position: absolute;
  bottom: 80px;
  left: 50%;
  translate: -50%;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-inline: auto;
  min-height: 30px;
  min-width: 120px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.app-container .blur {
  filter: blur(50px);
}