.train-query .app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.train-query .blur {
  filter: blur(50px);
}